section.admins_section {
    width: 84%;
    position: relative;
    left: 16%;
}

h1.admins-h1 {
    font-size: 30px;
}

span.admins-list {
    font-size: 20px;
}

a.admins-a {
    color: black;
    font-size: 20px;
}