section.products_section {
    width: 85%;
    position: relative;
    left: 15%;
     background-image: url('../../images/montaña-nevada1.webp'); 
    /* background-image: url('../../images/montaña-nevada2.jpg'); */
    /* background-image: url('../../images/montaña-nevada3.jpg'); */
    /* background-image: url('../../images/montaña-nevada4.jpg'); */
    background-size: 100% 100%;
    background-attachment: fixed;
}

div.col-4 {
    margin-bottom: 50px;
}

div.col-3 {
    margin-bottom: 50px;
}

div.col-4 div.img-container_product1 {
    display: inline-flex;
    min-height: 286.25px;
}

div.col-3 div.img-container_product1 {
    display: inline-flex;
    min-height: 191.25px;
    margin-bottom: 15px;
}

div.col-4 div.img-container_product1 img {
    width: 100%;
    height: 286.25px;
}

div.col-3 div.img-container_product1 img {
    width: 100%;
    height: 191.25px;
}

div.product-info {
    background-color: white;
}

div.col-4 h2.h2-top {
    font-size: 25px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 0.5px white;
    display: inline;
}

div.col-3 h2.h2-top {
    font-size: 20px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 0.5px white;
    display: inline;
}

div.col-4 div.priceAndButton {
    margin-top: 15px;
}

div.col-3 div.priceAndButton {
    margin-top: 15px;
}

div.col-4 h2.h2-bottom {
    font-size: 25px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 0.5px white;
    display: inline;
}

div.col-3 h2.h2-bottom {
    font-size: 25px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 0.5px white;
    display: inline;
}

div.col-4 div.button-container i.icon-top {
    color: black;
    -webkit-text-stroke: 0.5px white;
}

div.col-3 div.button-container i.icon-top {
    color: black;
    -webkit-text-stroke: 0.5px white;
}

div.col-4 div.button-container {
    text-align: right;
    display: inline;
    position: relative;
    left: 210px;
}

div.col-3 div.button-container {
    text-align: right;
    display: inline;
    position: relative;
    left: 80px;
}

div.col-4 i {
    font-size: 25px;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

div.col-3 i {
    font-size: 25px;
    margin-right: 7px;
    position: relative;
    top: 5px;
}