section.products_section {
    width: 85%;
    position: relative;
    left: 15%;
    /*background-image: url('../../images/montañaNevada1.jpg');*/
    background-image: url('../../images/fondo4.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

h2.ourProducts {
    margin-left: 1%;
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

div.col-lg-3 {
    height: 280px;
}

div.col-lg-3 div.background {
    background-color: whitesmoke;
    height: 89%;
}

div.col-lg-3 div.background div.img-container_product1 {
    display: inline-flex;
    min-height: 50%;
    margin-bottom: 0;
}

/*
div.col-lg-3 div.a-moreInfo-container {
    position: relative;
    bottom: 250px;
    height: 198px;
    display: flex;
    justify-content: center;
}

div.col-lg-3 div.a-moreInfo-container:hover {
    background-color: gray;
    opacity: 0.8;
}

div.col-lg-3 div.a-moreInfo-container a.moreInfo {
    font-size: 20px;
    height: 20px;
    line-height: 215px;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    align-content: center;
    z-index: 1000;
    color: transparent;
}*/

div.col-lg-3 div.background div.img-container_product1 img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

/*
div.col-lg-3 div.background i.icon-top {
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 17px;
    left: 225px;
    cursor: pointer;
}*/

div.col-lg-3 div.background div.product-info div.span-container {
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
    margin-left: 1%;
}

div.col-lg-3 div.background div.product-info div.span-container span.title-container {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    width: 80%;
}

div.col-lg-3 div.background div.product-info div.span-container span.price-container {
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/*
button.shoppingCartButton {
    position: relative;
    left: 95%;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
}

button.shoppingCartButton i {
    font-size: 20px;
}

div#detailContainer {
    display: none;
}*/

@media (max-width: 1024px) {

    section.products_section {
        width: 85%;
        position: relative;
        left: 15%;
        background-image: url('../../images/montaña-nevada1.webp');
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    h2.ourProducts {
        margin-left: 1%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 25px;
    }

    div.container {
        width: 90%;
    }

    div.col-lg-3 {
        height: 200px;
    }

    div.col-lg-3 div.background div.product-info div.span-container span.title-container {
        line-height: 18px;
        font-size: 15px;
        font-weight: 500;
        color: black;
        width: 80%;
    }
    
    div.col-lg-3 div.background div.product-info div.span-container span.price-container {
        line-height: 18px;
        font-size: 15px;
        font-weight: 700;
        color: black;
    }
}

@media (max-width: 768px) {

    div.container {
        width: 90%;
        margin: 0 auto;
    }

    div.col-md-6 {
        height: 270px;
    }
}

@media (max-width: 425px) {

    section.products_section {
        width: 100%;
        position: relative;
        left: 0%;
        top: 15%;
        background-image: url('../../images/montaña-nevada1.webp');
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    h2.ourProducts {
        margin-left: 23%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 25px;
    }

    div.container {
        width: 67%;
        margin: 0 auto;
    }

    div.col-12 {
        height: 270px;
    }

    div.col-12 div.background div.product-info div.span-container span.title-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        width: 80%;
    }
    
    div.col-12 div.background div.product-info div.span-container span.price-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        color: black;
    }
}

@media (max-width: 375px) {

    section.products_section {
        width: 100%;
        position: relative;
        left: 0%;
        top: 15%;
        background-image: url('../../images/montaña-nevada1.webp');
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    h2.ourProducts {
        margin-left: 23%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 25px;
    }

    div.container {
        width: 80%;
        margin: 0 auto;
    }

    div.col-12 {
        height: 280px;
    }

    div.col-12 div.background div.product-info div.span-container span.title-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        width: 80%;
    }
    
    div.col-12 div.background div.product-info div.span-container span.price-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        color: black;
    }
}

@media (max-width: 320px) {
    section.products_section {
        width: 100%;
        position: relative;
        left: 0%;
        top: 15%;
        background-image: url('../../images/montaña-nevada1.webp');
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    h2.ourProducts {
        margin-left: 14%;
        margin-bottom: 2%;
        font-weight: 700;
        font-size: 25px;
    }

    div.container {
        width: 80%;
        margin: 0 auto;
    }

    div.col-12 {
        height: 250px;
    }

    div.col-12 div.background div.product-info div.span-container span.title-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        width: 80%;
    }
    
    div.col-12 div.background div.product-info div.span-container span.price-container {
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        color: black;
    }
}