section.form-section {
    width: 85%;
    position: relative;
    left: 15%;
    background-image: url('../../images/fondo4.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

section.form-section div.form-container_2 {
    margin: 0 auto;
    width: 650px;
    background-color: #004c99;
    align-content: center;
    border-radius: 5px;
}

section.form-section div.form-container_2 form {
    align-self: center;
    margin: 0 2rem;
    padding-top: 5rem;
    color: white;
}

section.form-section div.form-container_2 form h1 {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 40px;
}

section.form-section div.form-container_2 form label {
    display: block;
    font-size: 1.6rem;
    margin: 10px 0;
}

section.form-section div.form-container_2 form input {
    display: block;
    width: 96%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    background-color: white;
}

section.form-section div.form-container_2 form div.button-form-container button {
    float: right;
}

section.form-section div.form-container_2 form div.button-form-container button {
    position: relative;
    display: block;
    font-size: 1.6rem;
    background-color: #2568AC;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 1.5rem 1rem;
    padding: 1rem 5rem;
    cursor: pointer;
    z-index: 1;
}

section.form-section div.form-container_2 form div.a-form-container {
    margin-top: 100px;
}

section.form-section div.form-container_2 form div.a-form-container a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}