<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body class="contact">
    <form action="" class="contact">
        <h1>Hola</h1>
        <br>
        <br>
        <label for="">Haz click aquí</label> <input type="checkbox">
    </form>
</body>
</html>