<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="distributor-content">
        <div class="form-container_2">
            <form action="">
                <h1>Conviertete en distribuidor</h1>
                <label for="">Nombre</label>
                <input type="text" placeholder="Introduzca su nombre...">
                <label for="">Apellido</label>
                <input type="text" placeholder="Introduzca su apellido...">
                <label for="">Número de teléfono</label>
                <input type="text" placeholder="Introduzca su número de teléfono...">
                <label for="">Email</label>
                <input type="email" name="" id="" placeholder="Introduzca su email...">
                <div class="button-form-container">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>