<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="distributor-content">
        <div class="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=700&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FGuayaquil&amp;src=c3J0czhtdWVzaXRocHJlOWtrcGkwYzg1MzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F6BF26&amp;showNav=1&amp;showPrint=0&amp;showTabs=1&amp;mode=WEEK&amp;showCalendars=0" style="border:solid 1px #777" width="500" height="390" frameborder="0" scrolling="yes"></iframe>
        </div>
        <div class="form-container_2">
            <form action="/distributors/register" method="POST">
                <h1>Conviertete en distribuidor</h1>
                <div>
                    <label for="">
                        Nombre de la Empresa/Negocio
                    </label>
                    <input name="company_name" type="text" placeholder="Introduzca su nombre...">
                </div>
                <div>
                    <label for="">
                        Email
                    </label>
                    <input type="email" name="email" placeholder="Introduzca su email...">
                </div>
                <div>
                    <label for="">
                        Número de teléfono
                    </label>
                    <input name="phone" type="text" placeholder="Introduzca su número de teléfono...">
                </div>
                <div>
                    <label for="">
                        Agendá una reunión y te contactaremos
                    </label>
                    <input name="appointment" type="datetime-local">
                </div>
                <div class="button-form-container">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>