<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Información de la landing page:</h1>
    <ul>
        <% for (let i=0; i<data.length; i++) { %> 
            <li>
                <%= data[i].name %> -
                <%= data[i].email %> -
                <%= data[i].phone %>
            </li>
        <% } %> 
    </ul>
    <a download="landingPageInfo" href="https://water-fresh-ec.herokuapp.com/landingPage/data">Descargar Información</a>
</body>
</html>