<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="form-section">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="form-container_2">
            <form action="">
                <h1>Inicio de sesión</h1>
                <label for="">Email</label>
                <input type="email" name="" id="">
                <label for="">Contraseña</label>
                <input type="password" name="" id="">
                <div class="button-form-container">
                    <button type="submit">Iniciar Sesión</button>
                </div>
                <div class="a-form-container">
                    <a href="/signIn">¿Nuevo por acá? Registrate</a><br>
                    <a href="">¿Olvidaste tu contraseña?</a>
                </div>
                <br>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
</body>
</html>