<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <section class="shoppingCart">
        <div>
            <h1>Carrito de Compras</h1>
        </div>
        <div>
            <h2>Artículos del Carrito</h2>
        </div>
        <div>
            <h2>Resumen del Pedido</h2>
        </div>
        <ul>
            <li>Cantidad: </li>
            <li>Envío: </li>
            <li>Total del Pedido: </li>
        </ul>
        <div>
            <button>Comprar</button>
        </div>
    </section>
</body>
</html>