<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>

    <%- include('partials/header.ejs') %>

    <section class="form-section-signUp">

        <div class="img-container">
            <div class="info-register">
                <h2>Únete a esta experiencia:</h2>
                <ol>
                    <li>Tus datos permanecerán protegidos</li>
                </ol>
            </div>
            <img src="/images/waterfallv2.jpg" alt="">
        </div>

        <div class="form-container_2">

            <form action="/users/registration" method="POST">

                <h1>Registrate</h1>

            <% if(typeof errors != 'undefined') { %> 
                <p style="color: red;">ERROR</p>
                <ul>
                    <% for(let i=0; i<errors.length; i++) { %>
                        <li><%= errors[i].msg %> </li>
                    <% } %>  
                </ul>
            <% } %> 
                
                <div>
                    <label for="">
                        Nombre
                    </label>
                    <input name="first_name" type="text" placeholder="Introduzca su nombre...">
                </div>

                <div>
                    <label for="">
                        Apellido
                    </label>
                    <input name="last_name" type="text" placeholder="Introduzca su apellido...">
                </div>

                <div>
                    <label for="">
                        Nombre de usuario
                    </label>
                    <input name="username" type="text" placeholder="Introduzca su nombre de usuario...">
                </div>

                <div>
                    <label for="">
                        Email
                    </label>
                    <input name="email" type="email" placeholder="Introduzca su email...">
                </div>

                <div>
                    <label for="">
                        Contraseña
                    </label>
                    <input name="password" type="password" placeholder="Introduzca su contraseña...">
                </div>

                <div>
                    <label for="">
                        Repita la contraseña
                    </label>
                    <input name="repassword" type="password" placeholder="Repita su contraseña...">
                </div>

                <div class="button-form-container">
                    <button type="submit">Registrarse</button>
                </div>
                <div class="a-form-container">
                    <a href="/users/logIn">¿Ya estás registrado? Inicia Sesión</a>
                </div>
                <br>
            </form>
        </div>
    </section>
    <%- include('partials/scripts.ejs') %>
</body>
</html>