<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/header.ejs') %>
    <section class="form-section">
        <div class="form-container_2">
            <form action="">
                <h1>Registrate</h1>
                <label for="">Nombre</label>
                <input type="text" placeholder="Introduzca su nombre...">
                <label for="">Apellido</label>
                <input type="text" placeholder="Introduzca su apellido...">
                <label for="">Número de teléfono</label>
                <input type="text" placeholder="Introduzca su número de teléfono...">
                <label for="">Email</label>
                <input type="email" name="" id="" placeholder="Introduzca su email...">
                <label for="">Contraseña</label>
                <input type="password" name="" id="" placeholder="Introduzca su contraseña...">
                <label for="">Repita la contraseña</label>
                <input type="password" placeholder="Repita su contraseña...">
                <div class="button-form-container">
                    <button type="submit">Registrarse</button>
                </div>
                <div class="a-form-container">
                    <a href="/logIn">¿Ya estás registrado? Inicia Sesión</a>
                </div>
                <br>
            </form>
        </div>
    </section>
</body>
</html>