<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    
    <div class="container">
        <button type="button" class="slide_in">Slide In</button>
    </div>

</body>
</html>