<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %> 
<body>
    <%- include('partials/header.ejs') %> 
    <div class="container">
        <div class="message-box">
            <div>
                <h1>¿Gracias por comprar!</h1>
                <div>
                    <p>Ante cualquier inconveniente, duda o consulta, por favor comunicarse al siguiente e-mail: <a href="">mail</a></p>
                    <br>
                    <button type="submit">Volver al inicio</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>