<aside class="menu">
    <div class="logo-container">
        <a href="/"><img class="logo" src="images/logo3.svg" alt=""></a>
    </div>
    <div class="menu-container">
        <a class="menu-container_items" href="/distributor">Conviertete en Distribuidor</a>
        <a class="menu-container_items" href="/aboutUs">Sobre Nosotros</a>
        <a class="menu-container_items" href="/logIn">Iniciá Sesión</a>
        <a class="menu-container_items" href="/contact">Contacto</a>
    </div>
    <div class="social-media_container">
        <a class="first-icon" href="https://www.facebook.com/waterfreshec/"><i class="fab fa-facebook-f"></i></a>
        <a class="second-icon" href="https://www.instagram.com/waterfreshec/"><i class="fab fa-instagram"></i></a>
    </div>
</aside>