div.container div.row div.col h1.titulo {
    font-size: 100px;
    font-family: 'Roboto';
    color: white;
}

.subtitulo {
    margin: 0;
    color: #000;
    background-color: WhiteSmoke;
    display: inline;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/*    Materialize Styles     */

.carousel {
    max-height: 67%;
    margin: 0;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 26%;
    height: 85%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 1.3%;
    background: #36221c;
}

@media (max-width: 1024px) {
    
    div.container {
        width: 90%;
        margin: 0;
        padding: 0;
    }

    div.container div.row div.col h1.titulo {
        font-size: 90px;
    }

    .subtitulo {
        font-size: 15px;
    }

    /* MATERIALIZE STYLES */

    .col {
        height: 400px;
    }

    .carousel {
        max-height: 61%;
        margin: 0;
    }
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 29%;
        height: 85%;
    }
}

@media (max-width: 768px) {
    
    div.container {
        width: 90%;
    }

    div.container div.row div.col h1.titulo {
        font-size: 80px;
    }

    .subtitulo {
        font-size: 12px;
    }

    /* MATERIALIZE STYLES */

    .col, .s12 {
        height: 330px;
        padding: 0;
    }

    .carousel {
        max-height: 70%;
        margin: 0;
    }
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 33%;
        height: 85%;
    }
}

@media (max-width: 425px) {
    
    div.container {
        width: 90%;
    }

    div.container div.row div.col h1.titulo {
        font-size: 70px;
    }

    .subtitulo {
        font-size: 12px;
    }

    /* MATERIALIZE STYLES */

    .col {
        height: 340px;
    }

    .carousel {
        max-height: 69%;
        margin: 0;
    }
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 59%;
        height: 78%;
    }
}

@media (max-width: 375px) {
    
    div.container {
        width: 90%;
    }

    div.container div.row div.col h1.titulo {
        font-size: 70px;
    }

    .subtitulo {
        font-size: 12px;
    }

    /* MATERIALIZE STYLES */

    .col {
        height: 340px;
    }

    .carousel {
        max-height: 65%;
        margin: 0;
    }
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 60%;
        height: 80%;
    }
}

@media (max-width: 320px) {
    div.container {
        width: 90%;
    }

    div.container div.row div.col h1.titulo {
        font-size: 50px;
    }

    .subtitulo {
        font-size: 12px;
    }

    /* MATERIALIZE STYLES */

    .col {
        height: 270px;
    }

    .carousel {
        max-height: 75%;
        margin: 0;
    }
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 70%;
        height: 90%;
    }
}